<footer>
        <h6>Do you need help?</h6>
        <div class="display">
            <div class="display customerservice">
                <p>Customer Service</p>
                <img src="/images/icons/arrow_right.svg" alt="Right-facing arrow">
            </div>
            <div class="display footerbutton">
                <p>Orders</p>
                <img src="/images/icons/arrow_right2.svg" alt="Right-facing arrow">
            </div>
            <div class="display footerbutton">
                <p>Discounts</p>
                <img src="/images/icons/arrow_right2.svg" alt="Right-facing arrow">
            </div>
        </div>
        <div class="display">
            <div class="display footerbutton extrapush">
                <p>Shipping</p>
                <img src="/images/icons/arrow_right2.svg" alt="Right-facing arrow">
            </div>
            <div class="display footerbutton">
                <p>Returns</p>
                <img src="/images/icons/arrow_right2.svg" alt="Right-facing arrow">
            </div>
        </div>

        <hr class="foot">

        <div class="display safetyicon">
            <img src="/images/safetyshop.png" alt="Safe Shop Icon">
            <p>Officially<br>Secure Shop</p>
        </div>

        <hr class="foot">
        <h1>dr. peppa</h1>
</footer>