{% extends "layout.njk" %}
{% block content %}
<div>
    <img src="/images/studio.jpg" class="navimg">
    <div class="centered"><span>SUMMER SALE <small>up to</small> <red>50% OFF</red></span></div>
</div>
<h3>Current Bestsellers</h3>
<div class="display bestproduct">
    {% for row in rows %}
        <a href="/product/{{ row.id }}">
            <div class="container">
                <img src="/images/covers/{{ row.cover }}">
                {% if row.sale > 0 %}
                <span class="sale">{{ row.sale }}%</span>
                {% endif %}
                <div class="producttext">
                    <div class="bottom-left">
                        <strong>{{ row.name }}</strong>
                        <br>{{ row.artist }}
                    </div>
                    <div>
                        <span class="type">{{ row.mediatype }}</span>
                        <br>
                        {% if row.sale > 0 %}
                        <span class="moneysale">{{ row.price *  (1-(0.01 * row.sale)) }} kr</span>
                        <span class="moneyold">{{ row.price }} kr</span>
                        {% else %}
                        <span class="money">{{ row.price }} kr</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
<div class="landing">
    <img src="/images/studio2.jpg" alt="Landing Page">
    <div class="centered1"><h1>dr. peppa</h1></div>
    <div class="centered2"><lp>Northern Sweden's biggest supply of underground music, shipped globally</lp></div>
</div>
<div>
    <a href="/collection">Browse Our Collection</a>
</div>
{% endblock %}