{% extends "layout.njk" %}
{% block content %}
<div class="cardcontainer">
    <img src="/images/studio.jpg">
</div>
<div class="display">
    {% for row in rows %}
        <a href="/product/{{ row.id }}">
            <div class="container">
                <img src="/images/covers/{{ row.cover }}">
                <span class="sale">{{ row.sale }}%</span>
                <div class="producttext">
                    <div class="bottom-left"><strong>{{ row.name }}</strong><br>{{ row.artist }}</div>
                    <div><span class="type">{{ row.mediatype }}</span><br><span class="moneysale">{{ row.price }} kr</span><span class="moneyold">{{ row.price }} kr</span></div>
                </div>
            </div>
        </a>
        <hr class="divider">
    {% endfor %}
</div>
<div class="landing">
    <img src="/images/studio2.jpg" alt="Landing Page">
    <div class="centered1"><h1>dr. peppa</h1></div>
    <div class="centered2"><lp>Northern Sweden's biggest supply of underground music, shipped globally</lp></div>
</div>
{% endblock %}