{% extends "layout.njk" %}
{% block  content %}
<main class="logcontainer">
    <strong class="title">Login</strong>
    <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <br>
    <button type="submit">Login</button>
    </form>
    <a href="register">No account?</a>
</main>
{% endblock %}