<nav class="navbar navgrid">
        <div class="navitem1">
            <button class="navbar_button">
                <img src="/images/icons/hamburger.svg" alt="Hamburger Menu">
            </button>
        </div>
        <div class="display navitem2">
            <img src="/images/icons/search.svg" alt="Searchbar">
            <input type="text" placeholder="Search...">
        </div>
        <div class="navitem3">
            <h1><a href="/">dr.peppa</a></h1>
        </div>
        <div class="display navitem4">
            <a href="/login" class="display">
                <img src="/images/icons/person.svg" alt="Log-in Icon">
                <h2>Log in</h2>
            </a>
        </div>
        <div class="navitem5">
            <a href="/cart">
                <img src="/images/icons/shopping_bag.svg" alt="Shoppingbag">
            </a>
        </div>
</nav>