<nav class="navbar">
        <div>
            <button class="navbar_button">
                <img src="/images/icons/hamburger.svg" alt="Hamburger Menu">
            </button>
        </div>
        <div class="display">
            <img src="/images/icons/search.svg" alt="Searchbar">
            <input type="text" placeholder="Search...">
        </div>
        <div>
            <h1><a href="/">dr. peppa</a></h1>
        </div>
        <div class="display">
            <a href="/login">
                <h2>Log in</h2>
                <img src="/images/icons/person.svg" alt="Log-in Icon">
            </a>
        </div>
        <div>
            <a href="/cart">
                <img src="/images/icons/shopping_bag.svg" alt="Shoppingbag">
            </a>
        </div>
</nav>