{% extends "layout.njk" %}
{% block content %}
<div>
    <img src="/images/studio.jpg" class="navimg">
    <div class="centered"><span>SUMMER SALE <small>up to</small> <red>50% OFF</red></span></div>
</div>
<div class="productgrid">
    <div class="productimage item1">
        <img src="/images/covers/{{ row.cover }}">
    </div>
    <strong class="item2">{{ row.name }} - {{ row.artist }}</strong>
    <span class="type item3">{{ row.mediatype }}</span>
    <div class="item4">
        {% if row.sale > 0 %}
        <span class="moneysale">{{ row.price *  (1-(0.01 * row.sale)) }} kr</span>
        <span class="moneyold">{{ row.price }} kr</span>
        {% else %}
        <span class="money">{{ row.price }} kr</span>
        {% endif %}
    </div>
    <button type="submit" class="item5 productbutton">ADD TO CART
        <!--{% if row.sale > 0 %}
            <span class="productsale">50%</span>
        {% endif %}-->
    </button>
</div>
{% endblock %}